html {
  background-color: lavenderblush;
}

.pink-div {
	background-color: pink;
}

.blue-div {
	background-color: blue;
	color: white;
}

.task.task-odd {
	color: orchid4;
}

.task.task-even {
	color: springgreen4;
}